@import '~/assets/scss/reset.scss';

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-black.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-medium-italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-black.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-bold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter-800.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter-700.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-500.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}


:root {
    --main: #8e361f;
    --main1: rgb(187, 97, 75);
    --main5: rgba(187, 97, 75, 0.193);
    --main-dark: #5a2a1a;

    --admin: #6d8358;
    --admin-transparent: rgba(109, 131, 88, 0.6);
    --admin-dark: #525b41;

    --text-color-main: #8e361f;
    --text-color-main-transparent: rgba(142, 54, 31, 0.6);
    --text-color-main-light: rgb(241, 225, 210);
    --text-color-main-lighter: #f4eae7;
    --text-color-main-dark: #612f1e;
    --text-color-secondary: #f1ac9c;
    --background-color-main: #eae6d7;
    --background-color-main-dark: rgb(218, 214, 199);
    --background-color-secondary: #ffffff;
    --black1: #000000;
    --black2: #161616;
    --grey1: #414141;
    --grey2: #707070;
    --grey3: #8f8f8f;
    --grey4: #bcbcbc;
    --grey5: #d3d3d3;
    --white1: #ffffff;
    --white2: #ebebeb;
    --white-transparent: #ebebebd3;

    --error: #c73d3d;
    --complete: #4caf50;
}

body {
  background-color: #eae6d7;
}

#__nuxt {
  overscroll-behavior: none;
}

main {
  overscroll-behavior: none;
//   overflow: hidden;
}

.component {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

.component, header {
    > .container {
        flex: 1;
        max-width: 1000px;
        display: flex;
    
        > * {
        display: flex;
        }
    }
}

.header {
    font-family: 'Nunito', sans-serif;
    font-size: 3.6rem;
    letter-spacing: 0.3rem;
    font-weight: 700;
    color: var(--text-color-main);
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: clamp(3rem, 8vw, 4rem);
    }
}