@import '~/assets/scss/reset.scss';

:root {
  --text-color-main: #8e351e;
  --text-color-main-dark: #652819;
  --text-color-secondary: #f1ac9c;
  --background-color-main: #eae6d7;
  --background-color-main-dark: rgb(214, 209, 191);
  --background-color-secondary: #ffffff;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-black.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-medium-italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-black.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-bold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

body {
  background-color: #eae6d7;
}

#__nuxt {
  overscroll-behavior: none;
}

main {
  overscroll-behavior: none;
  overflow: hidden;
}

section .container,
header .container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

section .container > *,
header .container > * {
  display: flex;
}