@import '~/assets/scss/reset.scss';

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-black.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-medium-italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-black.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-bold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

:root {
    --main2: rgb(187, 97, 75);
    --text-color-main: #8e351e;
    --text-color-main-light: rgb(241, 225, 210);
    --text-color-main-lighter: #f4eae7;
    --text-color-main-dark: #42170c;
    --text-color-secondary: #f1ac9c;
    --background-color-main: #eae6d7;
    --background-color-main-dark: rgb(214, 209, 191);
    --background-color-secondary: #ffffff;
    --black1: #000000;
    --black2: #161616;
    --grey1: #414141;
    --grey2: #707070;
    --grey3: #8f8f8f;
    --grey4: #bcbcbc;
    --grey5: #d3d3d3;
    --white2: #ebebeb;
}

body {
  background-color: #eae6d7;
}

#__nuxt {
  overscroll-behavior: none;
}

main {
  overscroll-behavior: none;
  overflow: hidden;
}

.component {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

.component, header {
    .container {
        flex: 1;
        // width: 100%;
        max-width: 1000px;
        // height: 100%;
        display: flex;
    
        > * {
        display: flex;
        }
    }
}

.header {
    font-family: 'Nunito', sans-serif;
    font-size: 3.6rem;
    letter-spacing: 0.3rem;
    font-weight: 700;
    color: var(--text-color-main);
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: clamp(3rem, 8vw, 4rem);
    }
}